.card img {
  height: 400px;
  width: 400px;
  border-radius: 10px;
}

.card {
  border: 2px solid rgba(0, 0, 0, 0.212);
  border-radius: 30px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card  img:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
  border-radius: 40px;
}